<div class="course-card" *ngIf="course"
  [ngClass]="{ 'beginner': false, 'other-class': true }">

  <div class="course-title">
    {{ currentIndex + '  ' +  course.description }}
  </div>
  <img width="300" alt="Angular Logo" *ngIf="course.iconUrl; else noImageBlock"
    [src]="course.iconUrl">

  <ng-template #noImageBlock>
    <p>No image is available.</p>
  </ng-template>

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="viewCourceClicked()">View Cource</button>

</div>
